

.project-content {
	display: flex;
	justify-content: space-between;
	gap: 35%;
}

.project-small-heading {
	padding-top: 10%;
}

.project-icons {
    text-align: end;

}

.i {
    padding-left: 20px;
    padding-top: 20%;
    color: gray;
}




/* image scroll sectioin */

.testing8 {
  background-image: url(/Images/project-images/becozydulac.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}

.testing9 {
  background-image: url(/Images/project-images/Body-care.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-attachment: scroll;
}
.testing10 {
  background-image: url(/Images/project-images/Boomaxe.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}
.testing10 {
  background-image: url(/Images/project-images/em_dunc_insta_thumb_2-20-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-attachment: scroll;
}
.testing11 {
  background-image: url(/Images/project-images/homw.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}
.testing12 {
  background-image: url(/Images/project-images/Kai-in-hot-pink-on-wall-IMG_0069-copy_1500x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-attachment: scroll;
}
.testing13 {
  background-image: url(/Images/project-images/kungfupc01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}
.testing14 {
  background-image: url(/Images/project-images/maverikbusinesselevation.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-attachment: scroll;
}
.testing15 {
  background-image: url(/Images/project-images/movida-min.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}
.testing16 {
  background-image: url(/Images/project-images/puretyclinicshop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-attachment: scroll;
}
.testing17 {
  background-image: url(/Images/project-images/travel-africa.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}
.testing19 {
  background-image: url(/Images/project-images/Tvach.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-attachment:fixed;
}