
.blog-s2-content {
	margin-top: 60px;
}

.blog-inner-content h4{
    padding-right: 30%;
}

.blog-s2-list ul {
    display: flex;
}

.blog-s2-list {
	width: 52%;
	line-height: 1.5;
	list-style: auto;
}

.blog-p1{
	font-size: 22px;
	font-weight: 400;
	padding-right: 30px;
}



.blog-s2-list ul li:last-child {
	padding-right: 20%;
}

.blog-s2-list ul li {
    list-style: none;
}



.blog-s2-span1 {
	display: block;
	/* padding-right: 0%; */
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 2px;
}
.blog-s2-span2 {
	padding-top: 20px;
	display: block;
    letter-spacing: 1px;
}

.blog-s2-content {
    display: flex;
    justify-content: space-between;
}

.blog-s2-content {
    display: flex;
    justify-content: space-between;
}

.blog-s2-paragraph {
	width: 60%;
	/* margin-right: 130px; */
}